.carousel-item {
    max-width: 100%;
    max-height: 450px;
    background-size: cover;
}

.carousel-inner {
    img {
        width: 100%;
    }
}

.py-4 {
    padding-top: 0 !important;
}

.carousel-caption {
    bottom: 12rem;
}